html, body {
    height: 100%;
}

body {
    padding: 20px;
    margin: 0 auto;
    max-width: 1300px;
}

h2 {
    border-bottom: solid 2px #797979;
}

p {
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    line-height: 2;
}

.table-box {
    display: flex;
    justify-content: center;
}

.table-box table, td {
    border: 1px solid #0000FF;
}

.table-box td {
    background-color: #FF0000;
    color: #FFFF00;
    text-align: left;
    vertical-align: bottom;
    padding: 30px;
}

.table-box table {
    width: 200px;
    height: 100px;
    border-collapse: collapse;
}

.table-box caption {
    caption-side: bottom;
}

.outline-box {
    display: flex;
    justify-content: center;
}

.outline-box p {
    outline: #FF0000 dotted thick;
    width: 100px;
    height: 50px;
}

.shadow-box {
    display: flex;
    justify-content: space-between;

}

.shadow-box .box-1 {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px #F00000;
}

.shadow-box .box-2 {
    width: 100px;
    height: 100px;
    box-shadow: 4px 4px 10px #F00000;
}

.shadow-box .box-3 {
    width: 100px;
    height: 100px;
    box-shadow: -4px -4px 10px #F00000;
}

.shadow-box .box-4 {
    width: 100px;
    height: 100px;
    box-shadow: -10px 0 10px #F00000,
    0 -10px 10px #000000,
    10px 0 10px #0000FF,
    0 10px 10px #008000;
}

.shadow-box .box-5 {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px #F00000 inset;
}

.circle-box {
    display: flex;
    justify-content: space-between;
}

.circle-box .circle-1 {
    border: 3px solid red;
    height: 100px;
    width: 200px;
    border-radius: 30px;
}

.circle-box .circle-2 {
    border: 3px solid red;
    height: 100px;
    width: 100px;
    border-radius: 53px;
}

.circle-box .circle-3 {
    border: 3px solid red;
    height: 100px;
    width: 100px;
    border-radius: 53px 0;
}

.circle-box .outer {
    background-color: #6495ED;
    height: 150px;
    width: 200px;
    border-radius: 30px;
}

.circle-box .inner {
    background-color: #7FFF00;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.circle-box .percent-outer {
    height: 100px;
    width: 200px;
    border-radius: 30%;
    background-color: #1E90FF;
}

.circle-box .percent-inner {
    height: 60px;
    width: 120px;
    border-radius: 50%;
    background-color: #663399;
}

.practice-box {
    display: flex;
    justify-content: center;
}

.practice-box .board {
    color: red;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    border: 5px solid #DC143C;
    background-color: #FF0000;
    border-radius: 30px;
    font-size: 30px;
    box-shadow: 2px 2px 5px black inset,
    2px 2px 5px black;
    text-shadow: 2px 2px 5px black;
}
